@model WebBanHangOnline.Models.User.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "User"))
{
    <div class="form-group">
        @Html.LabelFor(u => u.OldPassword,"Old Password", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(u => u.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.OldPassword, "", new { @class = "text-danger" })
            @ViewBag.WrongPass
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.NewPassword,"New Password", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(u => u.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <button type="submit" class="btn btn-primary">Change Password</button>
            <a href="@Url.Action("Index","Home")" class="btn btn-default">Cancel</a>
        </div>
    </div>
}
