@model WebBanHangOnline.Models.Product.CreateProductViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(p => p.ProductName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(p => p.ProductName, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.ProductName, "", new { @class = "text-danger" })
            @ViewBag.ExistedProduct
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.ProductCategoryId, "Category", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(p => p.ProductCategoryId, new SelectList(Model.ProductCategoryList, "ProductCategoryId", "ProductCategoryName", "Please seclect category"), new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.ProductCategoryId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.ProductPrice, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(p => p.ProductPrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.ProductPrice, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.ProductDescription, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(p => p.ProductDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.ProductDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.ProductImage, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(p => p.ProductImage, new { @class = "input-file", @type = "file" })
            @Html.ValidationMessageFor(p => p.ProductImage, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <button type="submit" class="btn btn-primary">Add Product</button>
            <a href="@Url.Action("List","Product")" class="btn btn-default">Back</a>
        </div>
    </div>
}

